<div id="setup">
  <div id="namePrompt" class="setup-row" hidden>
    <label for="voterName">Your name</label>
    <div class="setup-control">
      <input id="voterName" type="text" placeholder="Enter your name" />
    </div>
  </div>
  <div id="excludeField" class="exclude-field setup-row" hidden>
    <label for="excludeSearch" id="excludeLabel">Choose your entry</label>
    <div class="setup-control">
      <input id="excludeSearch" type="text" autocomplete="off" aria-autocomplete="list" aria-expanded="false" aria-controls="excludeOptions" />
      <div id="excludeOptions" class="exclude-options" role="listbox" hidden></div>
    </div>
  </div>
</div>